@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #1e1d20;
    --c-fuchsia: #f00878;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-custom-fuchsia: var(--c-fuchsia);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --text-custom-h1: clamp(40px, 8vw, 80px);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e1d20;
        --foreground: #ffffff;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
