@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #1e1d20;

    --c-light: #ffffff;
    --c-fuchsia: #f00878;
    --c-dark: #1e1d20;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-custom-fuchsia: var(--c-fuchsia);
    --color-custom-dark: var(--c-dark);
    --color-custom-light: var(--c-light);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --text-custom-h1: clamp(40px, 8vw, 80px);

    --custom-min-h: calc(100vh - 100px);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #1e1d20;
        --foreground: #ffffff;
    }
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}
